 /* Import fonts from Google */
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;700&display=swap');

/* set font-family and page colors */
* { font-family: 'Golos Text', sans-serif;
    margin: 0;
    padding: 0;
    --backgroundcolor: #57a8ea;
    --bordercolor: #0f0f0f;
    --accentcolor: #6e0404;
    --textcolor: #e9eaf6;
    --transbackground: #57a8ea88;

}

/*  This padding is to place rose image correctly */
img {
  padding-right: 5em;   
  width: 50%;
  height: 100%; 
}


/* Locate and space the navbar links. Also give background and colors */

.navbar ul {
list-style: none;
display: flex; 
justify-content: space-between;
font-size: 1.875em;
background: linear-gradient(45deg, var(--backgroundcolor), var(--bordercolor));
height: 12vh;
width: auto;
border: .1em solid var(--bordercolor);
} 

@media (max-width: 800px) {
  .navbar ul {
      list-style: none;
      display: flex; 
      flex-direction: row;
      justify-content: space-between;
      z-index: 1;
      font-size: 1em;
      background: linear-gradient(45deg, var(--backgroundcolor), var(--bordercolor));
      height: 10vh;
      width: auto;
      border: .1em solid var(--bordercolor);
      }

      li img {
      width: 0em;
      height: 0em;
  }
}
/* Styling the links */
a {
  color: var(--textcolor);
  text-decoration: none;
  font-size: 1em;
}

.aboutcontent {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding-top: 2%;
    padding-bottom: 25%;
    padding-left: 30%;
    padding-right: 30%;
    font-size: 1.5em;
    background: linear-gradient(45deg, var(--backgroundcolor), var(--bordercolor));
    color: var(--textcolor);
 
 }

 .aboutcontent h2 {
  display: flexbox;
  flex-direction: column;
  justify-content: space-between;
  color: var(--textcolor);
  text-decoration: none;
 }    
 
.aboutcontent img {
  width: 10%;
}



 footer {
   color: var(--textcolor);
   text-align: center;
   background: linear-gradient(45deg, var(--bordercolor), var(--backgroundcolor));
} 